﻿
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url('/Content/Fonts/Lato/GtRkRNTnri0g82CjKnEB0Q.woff2') format('woff2'), url('../fonts/boeCNmOCCh-EWFLSfVffDg.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('/Content/Fonts/Lato/EsvMC5un3kjyUhB9ZEPPwg.woff2') format('woff2'), url('../fonts/KT3KS9Aol4WfR6Vas8kNcg.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/Content/Fonts/Lato/1YwB1sO8YE1Lyjf12WNiUA.woff2') format('woff2'), url('/Content/Fonts/Lato/9k-RPmcnxYEPm8CNFsH2gg.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('/Content/Fonts/Lato/H2DMvhDLycM56KNuAtbJYA.woff2') format('woff2'), url('/Content/Fonts/Lato/wkfQbvfT_02e2IWO3yYueQ.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('/Content/Fonts/Lato/tI4j516nok_GrVf4dhunkg.woff2') format('woff2'), url('/Content/Fonts/Lato/BVtM30trf7q_jfqYeHfjtA.woff') format('woff');
}




/*====Hindi
========================*/
@font-face {
    font-family: 'aps-dv-saralnormal';
    src: url('../fonts/saraln-webfont.eot');
    src: url('../fonts/saraln-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/saraln-webfont.woff2') format('woff2'),
         url('../fonts/saraln-webfont.woff') format('woff'),
         url('../fonts/saraln-webfont.ttf') format('truetype'),
         url('../fonts/saraln-webfont.svg#aps-dv-saralnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*====Dogri
========================*/

/*====Punjabi
========================*/

/*====Bengali
========================*/

/*====Assamese
========================*/

/*====Oriya
========================*/

/*====Manipuri
========================*/

/*====Gujarati
========================*/

/*====Marathi
========================*/

/*====Tamil
========================*/

/*====Kannada
========================*/

/*====Telugu
========================*/

/*====Malayalam
========================*/

/*====Konkani
========================*/

/*====Urdu
========================*/


/*====All Classes
==========================================*/
body.en{}
/*body.hi{font-family:Mangal !important;}*/
body.pa{}
body.bn{}
body.as{}
body.ory{}
body.mn{}
body.gu{}
body.mr{}
body.ta{}
body.kn{}
body.te{}
body.ml{}
body.ko{}
body.ur{}







