


body.homeHeight
.menuWrap {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}



.removeTopMargin {
    margin-top: 68px;
}

.menuWrap {
    width: 100%;
    float: left;
    top: 68px;
    margin-top: 0;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-transition: all 235ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 235ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 235ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 235ms cubic-bezier(0.250,0.460,0.450,0.940);
}


#main_header {
    height: 68px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: margin-left .25s cubic-bezier(.06, .3, .26, 1.06);
    -moz-transition: margin-left .25s cubic-bezier(.06, .3, .26, 1.06);
    transition: margin-left .25s cubic-bezier(.06,.3,.26,1.06);
    box-shadow: 0 1px 2px #cfcfcf;
}

.introWhite {
    color: white;
    text-align: center;
}




.menuArticle {
    float: left;
    width: 100%;
    height: 111px;
    padding: 22px 8% 15px 8%;
    background-color: #017DE0;
    /*background-image: url('/wp-content/themes/affectiva/img/menuArticleBg.jpg');*/
    /*background-repeat: repeat-x;*/
    /*background-position: top center;*/
}

.menuArticle
h5 {
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 17px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    color: #fff;
    letter-spacing: 0.03em;
}

p.shortDesc {
    font-family: 'Antenna ExtraLight',sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 100;
    letter-spacing: 0.03em;
    color: #fff;
}

p.readMore
a {
    font-family: 'Antenna Regular',sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

ul.menu {
    list-style: none outside;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f3f2f2;
}

ul.menu
li {
    background-image: url('http://Images.apherald.com/SriSoft9Images/icons/menuLineBg.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    cursor: pointer;
    float: left;
    width: 100%;
    text-transform: uppercase;
}

ul.menu li:last-child {
    background-image: none;
}

ul.menu li:hover {
    cursor: pointer;
    background-color: #f8f8f8;
}

.mainMenu {
    background: #FFF;
    height: 68px;
    position: relative;
    width: 100%;
    vertical-align: middle;
}

.cbp-spmenu {
    background: #f3f3f3;
    position: fixed;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.cbp-spmenu
h3 {
    color: #333;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}

.cbp-spmenu
a {
    display: block;
    color: #333;
    font-size: 1.1em;
    font-weight: 300;
}

.rightMenuButton {
    float: right;
    border: none;
    padding: 0.6em 0;
    margin: 0
15px 0 15px;
    color: #545454;
    background: #FFF;
    font-family: 'Antenna Regular',sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    cursor: pointer;
    display: inline;
    border-radius: 2px;
    text-decoration: none;
}

.rightMenuButton:hover {
color: #017DE0;
}

.rightMenuButtonLogin {
    float: right;
    border: none;
    padding: 0.6em 0;
    margin: 0
30px 0 15px;
    color: #545454;
    background: #FFF;
    font-family: 'Antenna Regular',sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
}

.rightMenuButtonLogin:hover {
    color: #017DE0;
}

.spacerBar {
    float: right;
    display: inline;
    padding: 0.68em 0;
    color: #d6d6d6;
}

/*.left {
    width: 33.33%;
    float: left;
    margin: 24px
0 0 0;
}

.middle {
    float: left;
    height: 56px;
    margin: 5px
0 0;
    text-align: center;
    width: 33.33%;
}*/

/*.right {
    width: 33.33%;
    float: left;
    margin: 13px
0 0 0;
    text-align: right;
}*/

.spaceForNav {
    width: 100%;
    background-color: #FFF;
    height: 68px;
    float: left;
}

ul.menu
li.selectedNavItem {
    background-color: #ddd;
    background-image: url("/Images/menuArrow.png");
    background-position: 30px 29px;
    background-repeat: no-repeat;
    opacity: 0.85;
    padding: 0
0 0 14%;
    width:100%;
      color: #009aa9;
}

ul.menu li.selectedNavItem a{
    color:#444;
    font-weight:bold;
}
.menuArticle .socialIconHolder a, .address .socialIconHolder a{
display: inline-block;
padding-top: 8px;
padding-left: 10px;
border: none;
border-radius: 50%;
height: 35px;
width: 35px;
margin-right: 5px;
background: rgba(255, 255, 255, 0.72);
}
    .menuArticle .socialIconHolder a:hover, .address .socialIconHolder a:hover {
        background:#fff;
    }

    .menuArticle .socialIconHolder a i ,.address .socialIconHolder a i{
        font-size:20px;
        color:#017DE0;
    }
    .address .socialIconHolder a i {
       color: #2A2A2A;
    }

ul.menu li ul.sub-menu
li.selectedSubnavItem {
    background-repeat: no-repeat;
    opacity: 1;
    padding: 0;
    width: 100%;
    color: #009aa9;
}

ul.menu li ul.sub-menu li.selectedSubnavItem
a {
    color: #0aa5b5 !important;
}

#menu-item-223,#menu-item-379 {
    /*background-image: url('/wp-content/themes/affectiva/img/menuArrow.png');*/
    background-position: -18px 24px;
    background-repeat: no-repeat;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: background-color 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0,
background-position 0.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .5s;
    -moz-transition: background-color 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0,
background-position 0.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .25s;
    -ms-transition: background-color 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0,
background-position .25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .25s;
    -o-transition: background-color 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0,
background-position 0.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .25s;
    transition: background-color 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0,
background-position 0.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .5s;
}

#menu-item-223 a,
#menu-item-379
a {
    color: #2a2a2a;
    margin-left: 0;
}

#menu-item-223 a:first-child,
#menu-item-379 a:first-child {
    background: url(/wp-content/themes/affectiva/img/menuLineBg.jpg) no-repeat scroll bottom center transparent;
    color: #333;
    margin-left: 0;
    padding-top: 23px;
    -webkit-transition: margin-left .25s cubic-bezier(0.230, 1.000, 0.320, 1.000),
color .25s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: margin-left .25s cubic-bezier(0.230, 1.000, 0.320, 1.000),
color .25s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -ms-transition: margin-left .25s cubic-bezier(0.230, 1.000, 0.320, 1.000),
color .25s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition: margin-left .25s cubic-bezier(0.230, 1.000, 0.320, 1.000),
color .25s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: margin-left .25s cubic-bezier(0.230, 1.000, 0.320, 1.000),
color .25s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

#menu-item-223 .sub-menu,
#menu-item-379 .sub-menu {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: height .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) .4s;
    -moz-transition: height .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) .4s;
    -ms-transition: height .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) .4s;
    -o-transition: height .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) .4s;
    transition: height .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) .4s;
}

#menu-item-223 .sub-menu li a:first-child,
#menu-item-379 .sub-menu li a:first-child {
    background: none;
    padding-top: 0;
    margin-left: 0;
}

#menu-item-223.subNavOpen,#menu-item-379.subNavOpen {
    background-color: #2a2a2a;
    background-position: 38px 24px;
    max-height: 300px;
}

#menu-item-223.subNavOpen a,
#menu-item-223.subNavOpen .sub-menu li a,
#menu-item-379.subNavOpen a,
#menu-item-379.subNavOpen .sub-menu li
a {
    background: none;
    color: #fff;
    margin-left: 34px;
}

#menu-item-223.subNavOpen a:first-child,
#menu-item-379.subNavOpen a:first-child {
    background: none;
    margin-left: 34px;
}

#menu-item-223.subNavOpen .sub-menu {
    height: 100px;
}

#menu-item-379.subNavOpen .sub-menu {
    height: 165px;
}

#menu-item-223.subNavClosing .sub-menu,
#menu-item-379.subNavClosing .sub-menu {
    height: 0;
    -webkit-transition: height .4s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: height .4s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -ms-transition: height .4s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition: height .4s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: height .4s cubic-bezier(0.230,1.000,0.320,1.000);
}

#menu-item-223.subNavClosing,#menu-item-379.subNavClosing {
    background-color: transparent;
    background-position: -18px 24px;
    -webkit-transition: background-color 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) .75s,
background-position 0.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .35s;
    -moz-transition: background-color 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) .75s,
background-position 0.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .35s;
    -ms-transition: background-color 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) .75s,
background-position .25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .35s;
    -o-transition: background-color 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) .75s,
background-position 0.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .35s;
    transition: background-color 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) .75s,
background-position 0.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .35s;
}

#menu-item-223.subNavClosing a:first-child,
#menu-item-379.subNavClosing a:first-child {
    background-image: none;
    margin-left: 0;
    color: #333;
    -webkit-transition: margin-left .25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .35s,
color .25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .75s;
    -moz-transition: margin-left .25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .35s,
color .25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .75s;
    -ms-transition: margin-left .25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .35s,
color .25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .75s;
    -o-transition: margin-left .25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .35s,
color .25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .75s;
    transition: margin-left .25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .35s,
color .25s cubic-bezier(0.230, 1.000, 0.320, 1.000) .75s;
}

#menu-item-223 a:first-child,
#menu-item-379 a:first-child {
    padding-top: 23px;
    margin-left: 0;
    background-image: url('http://Images.apherald.com/SriSoft9Images/icons/menuLineBg.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-transition: margin-left .25s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: margin-left .25s cubic-bezier(0.230,1.000,0.320,1.000);
}

ul.sub-menu {
    float: left;
    width: 88%;
    padding: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .25s cubic-bezier(0.190, 1.000, 0.220, 1.000) .1s
margin .25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: height .25s cubic-bezier(0.190, 1.000, 0.220, 1.000) .1s,
margin .25s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

ul.menu li ul.sub-menu
li {
    color: #7e7e7e;
    list-style: none outside;
    background: none;
    height: 32px;
}

ul.menu li ul.sub-menu
a {
    display: block;
    color: #7e7e7e;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Antenna Regular',sans-serif;
    letter-spacing: 0.1em;
    height: 25px;
    margin: 0;
    padding: 0;
}

ul.menu li ul.sub-menu li:hover {
    cursor: pointer;
}

.cbp-spmenu-vertical {
    width: 309px;
    height: 100%;
    top: 0;
    z-index: 99999;
}

/*ul.menu
a {
    border: none;
    padding: 0;
    text-decoration: none;
    font-family: 'Antenna Medium',sans-serif;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-weight: 100;
    width: 90%;
    height: 68px;
    padding: 27px
0 0 10%;
    text-align: left;
    opacity: 0.8;
    outline: none;
}*/

.cbp-spmenu-vertical a:hover {
    opacity: 1;
}

.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

.cbp-spmenu-horizontal
h3 {
    height: 100%;
    width: 20%;
    float: left;
}

.cbp-spmenu-horizontal
a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

.cbp-spmenu-left {
    left: 0;
    margin-left: -400px;
    -webkit-transition: all 225ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: all 225ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: all 225ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 225ms cubic-bezier(0.215,0.610,0.355,1.000);
}

.cbp-spmenu-right {
    width: 380px;
    padding: 0;
    top: 80px;
    right: 0;
    margin-right: -380px;
    background-color: #39B54A;
    -webkit-transition: margin-right .25s cubic-bezier(.06, .3, .26, 1.06);
    -moz-transition: margin-right .25s cubic-bezier(.06, .3, .26, 1.06);
    transition: margin-right .25s cubic-bezier(.06,.3,.26,1.06);
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0;
    margin-left: 0;
    background:#017DE0;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0;
    margin-right: 0;
}

.cbp-spmenu-top {
    top: -150px;
}

.cbp-spmenu-bottom {
    bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}

.rightMenuArrow1 {
    float: left;
    left: 308px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -30px;
}

.rightMenuArrow2 {
    float: left;
    left: 230px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -5px;
}

.sendMessage {
    font-family: 'Antenna Extralight',sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #fff;
    width: 100%;
    float: left;
    padding: 0;
    margin: 8px
0 0 0;
    height: 23px;
}

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
    -webkit-transition: all 235ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 235ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 235ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 235ms cubic-bezier(0.250,0.460,0.450,0.940);
}

.cbp-spmenu-push-toright {
    margin-left: 309px;
}

.cbp-spmenu-push-toleft {
    margin-left: -309px;
}

.cbp-spmenu,.cbp-spmenu-push {
}

#main_header.cbp-spmenu-push-to-right {
    margin-left: 309px;
}

.rightPad {
    padding: 25px;
    background-color: #f3f2f2;
    /*background-image: url('/wp-content/themes/affectiva/img/rightMenuBg.jpg');*/
    background-position: top center;
    background-repeat: repeat-x;
    min-height: 489px;
    position:relative;
    overflow:hidden;
}

.rightPad:after {
    clear: both;
    content: "";
    display: table;
}

.rightLoginContainer {
    height: 92.6%;
}

.address {
    width: 84%;
    margin: 0;
    padding: 15px
8%;
    background: #39B54A;
    float: left;
    color: #fff;
    height: 350px;
}

.addressTitle {
    background-image: url('http://Images.apherald.com/SriSoft9Images/icons/menuLineBg.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #fff;
    float: left;
    font-family: 'Antenna Regular',sans-serif;
    font-size: 24px;
    font-weight: 100;
    height: 38px;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
    width: 100%;
}

.addressCopy {
    float: left;
    font-family: 'Antenna Regular',sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 100;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 15px
0 0 0;
    width: 100%;
}

.addressCopy
a {
    color: #cacaca;
    text-decoration: none;
    display: inline;
    font-size: 14px;
}

.addressCopy
span {
    font-family: 'Antenna Bold',sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}

.privacy {
    margin-top: 20px;
    color: #fff;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: 0.1em;
    padding: 0;
    position: absolute;
}

.privacy
a {
    color: #fff;
    text-decoration: none;
    font-size: 9px;
    display: inline;
    font-weight: 100;
}

.privacy
img {
    display: inline;
    margin: 0
4px 0 0;
}


.nav_button {
    float: left;
    height: 13px;
    line-height: 10px;
    position: relative;
    vertical-align: text-top;
    z-index: 10;
    font-family: 'Antenna Regular',sans-serif;
    font-size: 16px;
    color: #333;
}

.nav_button,
.nav_button
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav_button
.burger {
    cursor: pointer;
    float: left;
    font-size: 1px;
    height: 13px;
    line-height: 13px;
    margin-left: 30px;
    overflow: visible;
    position: relative;
    width: 24px;
    transform: translateY(2px);
}

.nav_button .burger
.h_line {
    background-color: #252425;
    height: 2px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    width: 24px;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(1, 0, 0, 1) 0.2s;
    -moz-transition: -moz-transform 0.8s cubic-bezier(1, 0, 0, 1) 0.2s;
    -ms-transition: -ms-transform 0.8s cubic-bezier(1, 0, 0, 1) 0.2s;
    -o-transition: -o-transform 0.8s cubic-bezier(1, 0, 0, 1) 0.2s;
    transition: transform 0.8s cubic-bezier(1, 0, 0, 1) 0.2s;
}

.nav_button .burger .h_line:after {
    background: #a4a4a4;
    content: " ";
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.nav_button .burger .h_line:nth-child(1) {
    top: 0px;
    z-index: 2;
    -webkit-transform-origin: 0px 1.5px;
    -moz-transform-origin: 0px 1.5px;
    -ms-transform-origin: 0px 1.5px;
    -o-transform-origin: 0px 1.5px;
    transform-origin: 0px 1.5px;
}

.nav_button .burger .h_line:nth-child(2) {
    top: 5px;
    z-index: 1;
    -webkit-transition: opacity 0.4s linear 0.5s;
    -moz-transition: opacity 0.4s linear 0.5s;
    -o-transition: opacity 0.4s linear 0.5s;
    transition: opacity 0.4s linear 0.5s;
}

.nav_button .burger .h_line:nth-child(3) {
    top: 10px;
    z-index: 3;
    -webkit-transform-origin: 0px 1.5px;
    -moz-transform-origin: 0px 1.5px;
    -ms-transform-origin: 0px 1.5px;
    -o-transform-origin: 0px 1.5px;
    transform-origin: 0px 1.5px;
}

.nav_button .burger .h_line:nth-child(1):after {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1) 0;
    -moz-transition: -moz-transform 0.4s cubic-bezier(1, 0, 0, 1) 0;
    -ms-transition: -ms-transform 0.4s cubic-bezier(1, 0, 0, 1) 0;
    -o-transition: -o-transform 0.4s cubic-bezier(1, 0, 0, 1) 0;
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0;
}

.nav_button .burger .h_line:nth-child(2):after {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1) 0.1s;
    -moz-transition: -moz-transform 0.4s cubic-bezier(1, 0, 0, 1) 0.1s;
    -ms-transition: -ms-transform 0.4s cubic-bezier(1, 0, 0, 1) 0.1s;
    -o-transition: -o-transform 0.4s cubic-bezier(1, 0, 0, 1) 0.1s;
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0.1s;
}

.nav_button .burger .h_line:nth-child(3):after {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    -moz-transition: -moz-transform 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    -ms-transition: -ms-transform 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    -o-transition: -o-transform 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}

.nav_button .burger:hover .h_line:after {
    width: 100%;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

.nav_open .nav_button .burger .h_line:nth-child(1) {
    -webkit-transform: translateY(-4px) rotate(45deg);
    -moz-transform: translateY(-4px) rotate(45deg);
    -o-transform: translateY(-4px) rotate(45deg);
    -ms-transform: translateY(-4px) rotate(45deg);
    transform: translateY(-4px) rotate(45deg);
}

.nav_open .nav_button .burger .h_line:nth-child(2) {
    opacity: 0;
    -webkit-transition: opacity 0.4s linear 0;
    -moz-transition: opacity 0.4s linear 0;
    -o-transition: opacity 0.4s linear 0;
    transition: opacity 0.4s linear 0;
}

.nav_open .nav_button .burger .h_line:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(-45deg);
    -moz-transform: translateY(3px) rotate(-45deg);
    -o-transform: translateY(3px) rotate(-45deg);
    -ms-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
}

.nav_button
.button_text_container {
    height: 15px;
    overflow: hidden;
    position: relative;
    width: 70px;
    float: left;
}

.nav_button
.button_label {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: 2;
}

.nav_button
.menu_button {
    margin-left: 11px;
}

.nav_button
.close_button {
    margin-left: 3px;
}

.nav_button .button_text_container
.button_label.close_button {
    display: none;
}

.nav_button .button_label
h4 {
    display: block;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 14px;
    margin: 0;
    font-family: 'Antenna Regular';
    -webkit-transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav_button .button_label h4
span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.nav_button .button_label span:first-child {
    color: #545454;
    position: relative;
    z-index: 2;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}
.mobileLogo {
height: 100%;
width: auto;
}
.nav_button .button_label:hover h4
span {
    color: #252425;
}

.nav_button
#showLeftPush {
    display: block;
    max-width: 140px;
    width: 140px;
}

.navArticle {
    opacity: 1;
    transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -webkit-transition: opacity .45s ease-in-out;
}

.displayNone {
    opacity: 0;
    transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -webkit-transition: opacity .45s ease-in-out;
}

.homeHeight.mobileHomeBody {
    height: 100% !important;
}

.hideOnMobile {
    display: block !important;
}

.mobileNavScrolling {
    overflow: auto;
}

/*CONTACT*/
.contactTitle {
 background-image: url('http://Images.apherald.com/SriSoft9Images/icons/menuLineBg.jpg');
background-repeat: no-repeat;
background-position: bottom center;
font-family: 'Roboto',sans-serif;
font-weight: 100;
font-size: 24px;
letter-spacing: 0.08em;
color: #525252;
width: 100%;
float: left;
padding: 0;
margin: 0;
height: 38px;
text-transform:uppercase;
}

.sendMessage {
font-family: 'Roboto',sans-serif;
font-weight: 100;
font-size: 18px;
letter-spacing: 0.03em;
color: #525252;
width: 100%;
float: left;
padding: 0;
margin: 8px 0 0 0;
height: 23px;
}

.contactFormContainer input {
height: 37px;
width: 100%;
background: none;
border-style: solid;
border-color: #d3d3d3;
border-width: 2px;
color: #333;
font-family: 'Roboto',sans-serif;
font-size: 14px;
letter-spacing: 0.08em;
text-indent: 14px;
}

.contactFormContainer form label {
display: block;
float: left;
margin: 15px 6% 0 0;
width: 47%;
}

.contactFormContainer label:after {
clear: both;
content: "";
display: table;
}

.contactFormContainer label:nth-child(2n) {
margin-right: 0;
}

.contactFormContainer label[for="txt_telephone"],.contactFormContainer label[for="txt_telephone1"] {
margin-bottom: 15px;
width:100%;
}

.contactFormContainer select#ddl_howFound,.contactFormContainer select#ddl_howFound1 {
background: none;
border: none;
color: #333;
font-family: "Roboto",sans-serif;
font-size: 14px;
height: 37px;
outline: none;
text-indent: 14px;
width: 100%;
}
.contactFormContainer select#ddl_howFound option, .contactFormContainer select#ddl_howFound1 option {
background: #fff;
padding: 0;
}
.contactFormContainer label[for="ddl_howFound"],.contactFormContainer label[for="ddl_howFound1"] {
/*background: url(/wp-content/themes/affectiva/img/selectArrow.png) no-repeat scroll center right transparent;*/
border-color: rgb(255, 255, 255);
border-color: #d3d3d3;
border-width: 2px;
border-style: solid;
clear: both;
float: none;
overflow: hidden;
width: 100.5%;
}
.contactFormContainer label[for="txt_questions"],.contactFormContainer label[for="txt_questions1"], .contactFormContainer textarea {
 width: 100%;
}
.contactFormContainer textarea {
background: none;
border: 2px solid #d3d3d3;
color: #333;
font-family: "Roboto",sans-serif;
font-size: 14px;
height: 87px;
letter-spacing: 0.1em;
max-height: 87px;
min-height: 87px;
padding: 14px 8% 14px 4%;
}
.contactFormContainer label[for="txt_questions"], .contactFormContainer textarea {
width: 100%;
}

.contactFormContainer #btn_contactFormSubmit, #formFailure #btn_tryAgain,#btn_contactFormSubmit1 {
background: transparent;
border: 2px solid #d3d3d3;
color: #333;
font-family: "Roboto",sans-serif;
font-size: 14px;
height: 41px;
letter-spacing: 0.1em;
line-height: 14px;
margin-top: 15px;
width: 101.5%;
cursor:pointer;
/*-webkit-border-radius: 30px;
-moz-border-radius: 30px;
-ms-border-radius: 30px;
-o-border-radius: 30px;
border-radius: 30px;*/
}

.forScrolling {
width: 100%;
height: 100%;
overflow: auto;
float: left;
-webkit-overflow-scrolling: touch;
-moz-overflow-scrolling: touch;
-ms-overflow-scrolling: touch;
-o-overflow-scrolling: touch;
overflow-scrolling: touch;
}
.contactFormContainer .spinner {
clear: both;
display: none;
height: 41px;
margin: 0 auto;
position: relative;
top: 15px;
width: 32px;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}
.contactFormContainer .spinner img {
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}

#formSuccess, #formFailure {
display: none;
height: 489px;
}

#formSuccess .sendMessage, #formFailure .sendMessage {
font-size: 14px;
line-height: 26px;
text-rendering: optimizeLegibility;
}

.submit-loading {
   position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.52);
    background-image: url(/Images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-size: 51px;
    background-position: center;
    display:none;
}

/*END CONTACT*/